@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(101, 101, 105) ;
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background: linear-gradient(rgba(84, 84, 88, 0.466), rgba(156, 144, 34, 0.548)),
    url('../img/popcorn.jpeg');
    background-size: cover;
    background-position: center;
}

.container > input, .container button {
    display: block;
    margin: 1rem auto;
}

.container button {
    width: 5rem;
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgba(197, 197, 52, 0.534);
}

.container h3 {
    margin: 2rem;
    color: aliceblue;
    text-transform: capitalize;
}

.container p {
    color: aliceblue;
    font-size: 1.5rem;
}